---
- name: Ensure boto3 package
  apt:
    name: python3-boto3
    state: present
    update_cache: yes

- name: Gather facts
  ec2_facts:

- name: Set name for instance
  script: "/usr/bin/env AWS_DEFAULT_REGION=us-east-1 {{ role_path }}/files/host_naming.py {{ ansible_ec2_instance_id }} {{ '--overwrite' if host_naming_overwrite else '' }}"
